@media (max-width: 768px) {
    .nav-wrapper {
        display: none;
        background-color: white;
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden !important;
        height: 100vh;
        z-index: 1000;
        transition: all 0.3s ease-in-out;
    }

    .nav-wrapper.show-menu {
        display: block;
    }

    .menu-trigger {
        position: fixed;
        top: 50px;
        right: 20px;
        top: auto;
        transform: none;
        z-index: 1100;
        cursor: pointer;
    }

    .menu-trigger.active i {
        color: #333; 
    }

    body.menu-open {
        overflow-y: hidden !important;
    }
    
    .search-container {
        padding-top: 10px;
        padding-right: 40px;
        float: left !important;
        padding-left: 10px;
        width: 100%;
        text-align: left !important;
    }


    .search-form {
        flex-direction: column;
        width: 100%;
    }

    .search-form input[type="text"] {
        margin-bottom: 10px;
        width: 100%;
        max-width: calc(100% - 40px); /* Lebar maksimum input dikurangi padding */
    }

    .auth-buttons {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px;
        text-align: center;
        float: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .auth-buttons a {
        margin-left: 5px;
        margin-right: 5px;
    }

    .main-nav .nav {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
        top: 90px;
    }

    .main-nav .nav li {
        margin: 5px 0;
        padding: 0 15px;
    }

    .main-nav .nav li:last-child {
        padding-bottom: 5px;
    }

    .main-nav .nav li.submenu:after {
        display: none;
    }

    .main-nav .nav li ul {
        position: static;
        width: auto;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        z-index: auto;
        box-shadow: none;
        margin-top: 5px;
    }

    .background-header .main-nav .logo {
        line-height: initial;
    }
}